[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "altfuelr"]
	path = altfuelr
	url = https://github.com/burch-cm/altfuelr
[submodule "vindecodr"]
	path = vindecodr
	url = https://github.com/burch-cm/vindecodr
